<div class="activities_wrapper">
    <a href="/activities/" class="activity_overview completed">
        <p>Wandelen</p>
        <p class="completed_score"> <span>1.5</span> punten</p>
    </a>
    <a href="/activities/" class="activity_overview completed">
        <p>Boodschappen doen</p>
        <p class="completed_score"> <span>3.5</span> punten</p>
    </a>
    <a href="/activities/" class="activity_overview completed">
        <p>Stofzuigen</p>
        <p class="completed_score"> <span>2</span> punten</p>
    </a>
    <a href="/activities/" class="activity_overview completed">
        <p>Wandelen</p>
        <p class="completed_score"> <span>5</span> punten</p>
    </a>
</div>