<div class="activities_wrapper">
    <a href="/" class="activity_overview completed">
        <p>Wandelen</p>
        <!-- icon: https://thenounproject.com/search/?q=walking&i=112220  -->
        <!-- <img src="images/walking_white.svg" alt="icon walking"> -->
        <p class="completed_score"> <span>1.5</span> punten</p>
    </a>
    <a href="/" class="activity_overview completed">
        <p>Boodschappen doen</p>
        <p class="completed_score"> <span>3.5</span> punten</p>
    </a>
</div>