<article class="dailyOverview overview">
    <h2>Dagelijks doel</h2>
    <section class="dailyWrapper">

        <article class="dailygoal">
            <p class="dailyValue"><%= dailyPercentage%>%</p>
        </article>


        <article class="activityOverview">
            <dl class="activity">
                <dt>Lichte activiteiten</dt>
                <dd><%=currentDay.values[0].light_activity %></dd>
            </dl>
            <dl class="activity">
                <dt>Medium activiteiten</dt>
                <dd><%=currentDay.values[0].medium_activity %></dd>
            </dl>
            <dl class="activity">
                <dt>Zware activiteiten</dt>
                <dd><%=currentDay.values[0].heavy_activity %></dd>
            </dl>
        </article>
    </section>
</article>