<ul class="activities_wrapper">
    <li>
        <a href="/activities/wandelen" class="activity_overview">
            <p>Wandelen</p>
            <!-- icon: https://thenounproject.com/search/?q=walking&i=112220  -->
            <img src="images/walking.svg" alt="icon walking">
        </a>
    </li>
    <li>
        <a href="/activities/boodschappen" class="activity_overview">
            <p>Boodschappen doen</p>
            <img src="images/walking.svg" alt="icon walking">
        </a>
    </li>
    <li>
        <a href="/activities/stofzuigen" class="activity_overview">
            <p>Stofzuigen</p>
            <img src="images/walking.svg" alt="icon walking">
        </a>
    </li>
    <li>
        <a href="/activities/tuinieren" class="activity_overview">
            <p>Tuinieren</p>
            <img src="images/walking.svg" alt="icon walking">
        </a>
    </li>
    <li>
        <a href="/activities/fietsen" class="activity_overview">
            <p>Fietsen</p>
            <img src="images/walking.svg" alt="icon walking">
        </a>
    </li>
    <li>
        <a href="/activities/oefeningen" class="activity_overview">
            <p>Fysio/Ergo oefeningen</p>
            <img src="images/walking.svg" alt="icon walking">
        </a>
    </li>
    <li>
        <a href="/activities/overige" class="activity_overview">
            <p>Voeg een andere activiteit toe</p>
            <!--icon: https://thenounproject.com/search/?q=plus&i=1129001  -->
            <img src="images/add.svg" alt="icon walking">
        </a>
    </li>
</ul>