<div class="activities_wrapper">
    <a href="/" class="activity_overview">
        <p>Wandelen</p>
        <!-- icon: https://thenounproject.com/search/?q=walking&i=112220  -->
        <img src="images/walking.svg" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Boodschappen doen</p>
        <img src="images/walking.svg" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Stofzuigen</p>
        <img src="images/walking.svg" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Tuinieren</p>
        <img src="images/walking.svg" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Fietsen</p>
        <img src="images/walking.svg" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>Fysio/Ergo oefeningen</p>
        <img src="images/walking.svg" alt="icon walking">
    </a>
    <a href="/" class="activity_overview">
        <p>activity 7</p>
        <img src="images/walking.svg" alt="icon walking">
    </a>

</div>