<nav class="navBottom">
    <ul>
        <li>
            <a href="/"> <span class="nav navHome">Home</span> </a>
        </li>
        <li>
            <a href="/activities">
                <span class="nav navPlanning">Planning</span>
            </a>
        </li>
        <li>
            <a href="/info">
                <span class="nav navInfo">Info</span>
            </a>
        </li>
        <li>
            <a href="/profile">
                <span class="nav navProfile">Profiel</span>
            </a>
        </li>




    </ul>
</nav>