<nav class="navBottom">
    <ul>
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/achievments">
            <li>Achievments</li>
        </a>
        <a href="/info">
            <li>Info</li>
        </a>
        <a href="/profile">
            <li>Profiel</li>
        </a>
    </ul>
</nav>