<article class="weeklyOverview overview">
    <h2>Weekdoel</h2>
    <section class="dailyWrapper">
        <div class="dailyScore">
            <div class="value">
                <p><%=currentDay.values[0].pam %></p>
            </div>
        </div>
        <div class="activityOverview">
            <div class="activity">
                <dt>Lichte activiteiten</dt>
                <dd><%=currentDay.values[0].light_activity %></dd>
            </div>
            <div class="activity">
                <dt>Medium activiteiten</dt>
                <dd><%=currentDay.values[0].medium_activity %></dd>
            </div>
            <div class="activity">
                <dt>Zware activiteiten</dt>
                <dd><%=currentDay.values[0].heavy_activity %></dd>
            </div>
        </div>
    </section>
</article>