<article class="weeklyOverview overview">
    <h2>Weekdoel</h2>
    <section class="dailyWrapper">

        <article class="weeklygoal">
            <p class="weeklyValue"><%= weeklyPercentage%>%</p>
        </article>

        <article class="activityOverview">
            <dl class="activity">
                <dt>Lichte activiteiten</dt>
                <dd>xx</dd>
            </dl>
            <dl class="activity">
                <dt>Medium activiteiten</dt>
                <dd>xx</dd>
            </dl>
            <dl class="activity">
                <dt>Zware activiteiten</dt>
                <dd>xx</dd>
            </dl>
        </article>
    </section>
</article>