<article class="weeklyOverview overview">
    <h2>Weekdoel</h2>
    <section class="dailyWrapper">

        <section class="weeklygoal">
            <div class="weeklyValue"><%= weeklyPercentage%>%</div>
        </section>

        <div class="activityOverview">
            <div class="activity">
                <dt>Lichte activiteiten</dt>
                <dd>xx</dd>
            </div>
            <div class="activity">
                <dt>Medium activiteiten</dt>
                <dd>xx</dd>
            </div>
            <div class="activity">
                <dt>Zware activiteiten</dt>
                <dd>xx</dd>
            </div>
        </div>
    </section>
</article>