/* LOGIN FORM  */
.loginUser {
    width: 100vw;
    height: 83vh;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginUser div {
    width: 60vw;
    background: white;
    border-radius: 1rem;
    padding: 3rem;
}

.l-form label {
    display: block;
    font-size: 1rem;
}

.l-form input {
    display: block;
    width: 100%;
    background-color: var(--lightGrey);
    border: 1px solid white;
    padding: .7rem .5rem;
    border-radius: .5rem;
    margin-top: .3rem;
    font-size: 1.2rem;
}

.l-form legend {
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0 2rem 0;
    color: var(--orange);
}

.l-form label:last-of-type {
    margin-top: 1rem;
}

.submitBtn {
    width: 100%;
    background-color: var(--orange);
    border: none;
    border-radius: .3rem;
    padding: .7rem .3rem;
    color: white;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.loginUser p {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--darkGrey);
}

.loginUser a {
    color: var(--orange);
}

.loginError {
    color: white;
    padding: 1rem 1rem;
    background: var(--orange);
    margin: 2rem 0;
    display: block;
    text-align: center;
}




/* REGISTER FORM  */
.registerUser {
    width: 100vw;
    /* height: 150vh; */
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.registerUser div {
    width: 80vw;
    background: white;
    border-radius: 1rem;
    padding: 3rem;
    margin: 4rem 0;
}


.registerUser h2 {
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
    color: var(--orange);
    font-weight: 300;
}

.r-form legend {
    font-size: 1.5rem;
    color: var(--blue);
    margin: 1rem 0 1rem 0;
    text-align: center;
    padding: 0 1rem;
}

.r-form fieldset {
    padding: 0 2rem 1rem 2rem;
    margin: 2rem 0;
    border: 1px solid var(--darkGrey);
    border-radius: 1rem;
}


.r-form label {
    display: block;
    font-size: 1rem;

}

.r-form input {
    display: block;
    width: 100%;
    background-color: var(--lightGrey);
    border: 1px solid white;
    padding: .7rem .5rem;
    border-radius: .5rem;
    font-size: 1.2rem;

    margin-top: .5rem;
    margin-bottom: 1rem;

    font-family: var(--fontRoboto);
    font-weight: 300;
    color: var(--darkGrey)
}

.r-form fieldset p {
    padding: 0 0 1rem 0;
    color: var(--orange);
    font-weight: 300;
}

.r-form em {
    font-weight: 700;
}

.r-form textarea {
    width: 100%;
    background-color: var(--lightGrey);
    border: 1px solid white;
    padding: .7rem .5rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    resize: vertical;

    margin-top: .5rem;
    margin-bottom: 1rem;

    font-family: var(--fontRoboto);
    font-weight: 300;

}

.redirectLogin {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--darkGrey);
}

.redirectLogin a {
    color: var(--orange);
}

.importantInfo {
    display: block;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--orange);
    color: white;
}



/* PLAN ACTIVITIES FORM  */
.plan_activities {
    position: relative;
    width: min(60rem, 80vw);
    margin: 0 auto;

}

.close_form {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 300;

}

.close_form img {
    margin-bottom: .3rem;
    max-height: 2rem;
    border: 2px solid var(--blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.close_form p {
    opacity: 0;
}

.close_form:hover p {
    opacity: 1;
}



.pa-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border-radius: var(--default_radius);

    display: none;
}

.showForm {
    display: flex;
}

.checkbox_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.pa-form legend {
    color: var(--orange);
    font-size: 1.2rem;
    padding: 0;
}

.target_date {
    color: var(--orange);
}

.multipleChoice {
    font-weight: 300;
    font-style: italic;
}

.pa-form input[type=checkbox] {
    clip: rect(0 0 0 0);
    position: absolute;
    left: -1em;
    border: none;
}

.pa-form label {
    width: 7rem;
    height: 7rem;
    border-radius: .5rem;
    border: 2px solid var(--darkGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    margin: .5rem;
    font-size: .8rem;
}

input[type=checkbox]:checked+label {
    border: 2px solid var(--orange);
    background: var(--orange);
}


.pa-form label img {
    height: 65%;
}

.addBtn {
    width: 90%;
    background-color: var(--orange);
    border: none;
    border-radius: .3rem;
    padding: .7rem .3rem;
    color: white;
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;

}




.new_activities {
    width: 80vw;
    margin: 4rem auto 2rem auto;
}

.new_activities h2 {
    color: var(--blue);
    font-weight: 700;
}

.new_activities_wrapper {
    width: min(60rem, 80vw);
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.new_activities_wrapper::-webkit-scrollbar {
    width: 5px;
}

.new_activities_wrapper::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-top: 8px solid white;
}

.new_activities_wrapper::-webkit-scrollbar-track {
    background: white;
}

.new_activity_overview {
    min-width: 12rem;
    max-width: 12rem;
    min-height: 12rem;

    background: var(--lightGrey);
    padding: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: var(--default_radius);
    text-decoration: none;
    color: var(--darkGrey);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    font-weight: 500;
    animation: shrimk 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.hide {
    display: none;
}

.grow {
    min-width: 80vw;
    min-height: 45em;

    animation: grow 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.new_activity_overview_grow {
    animation: grow 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes grow {
    0% {
        transform: scale(0.5);
        transform-origin: 0% 0%;
    }

    100% {
        transform: scale(1);
        transform-origin: 0% 0%;
    }
}

@keyframes shrink {
    0% {
        transform: scale(0.5);
        transform-origin: 0% 0%;
    }

    100% {
        transform: scale(1);
        transform-origin: 0% 0%;
    }
}

.new_activity_overview img {
    height: 4.5rem;
}

.new_activity_overview p {
    width: 100%;
    text-align: center;
}


@media all and (min-width: 40rem) {
    .grow {
        min-width: 80vw;
        height: 45em;
    }

    .pa-form label {
        width: 9rem;
        height: 9rem;
        border-radius: 1rem;
        font-size: 1rem;
    }

    .pa-form legend {
        font-size: 1.5rem;
    }

    .addBtn {
        width: 50%;
    }
}


@media all and (min-width: 60rem) {
    .grow {
        min-width: 48rem;
        height: 35rem;
    }

}