* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* base colors  */
    --blue: rgb(0, 133, 204);
    --orange: rgb(255, 110, 0);
    --lightGrey: #f5f5f5;
    --darkGrey: #333333;


    /* dark mode  */
    --darkmode: #121212;

    /* fonts  */
    --fontRoboto: 'Roboto', sans-serif;
    /* weights: 100, 300, 500, 700 */
}

html {
    font-family: var(--fontRoboto);
    overflow-y: scroll;
    overflow-x: hidden;
}




/* header */
header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 1rem 0;
}

header img {
    width: 10rem;
}

header h2 {
    color: var(--blue);
    font-weight: 700;
}

/* bottom navigation  */
.navBottom {
    background: var(--lightGrey);
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.navBottom ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBottom li {
    list-style: none;
}

.navBottom a {
    text-decoration: none;
    width: 25%;
    padding: 2rem 0;
    text-align: center;
    /* border-right: 1px solid black; */
    font-weight: 300;
    color: var(--darkGrey);
}





/* Data overview  */
.scroll-container {
    overflow-x: auto;
    width: 80vw;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    margin: 2rem auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
    width: 5px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-top: 8px solid white;
}

.scroll-container::-webkit-scrollbar-track {
    background: white;
}

.overview {
    background-color: var(--lightGrey);
    width: 80vw;
    /* height: 40rem; */
    display: inline-block;
    padding: 2rem;
    scroll-snap-align: center;
    border-radius: 1rem;
}

.dailyOverview {
    margin-right: 2rem;
}

.dailyWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.dailyScore {
    width: 50%;
    /* background: yellow; */
}


.value {
    width: 10rem;
    height: 10rem;
    border: 3px solid var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.activityOverview {
    width: 50%;
    /* background: lightgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}

.activity {
    padding: 0.3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activity dt {
    font-weight: 300;
}

.activity dd {
    font-weight: 700;
}

.dailyScore p {
    font-size: 3rem;
    color: var(--orange);
}

/* ACTIVITEITEN OVERVIEW PAGE  */

.activities {
    width: 80vw;
    margin: 4rem auto 0 auto;
}

.activities h2 {
    color: var(--blue);
    font-weight: 700;
}

.activities_wrapper {
    width: 80vw;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.activities_wrapper::-webkit-scrollbar {
    width: 5px;
}

.activities_wrapper::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-top: 8px solid white;
}

.activities_wrapper::-webkit-scrollbar-track {
    background: white;
}

.activity_overview {
    min-width: 12rem;
    height: 12rem;
    background: var(--lightGrey);
    padding: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: var(--darkGrey);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.activity_overview img {
    height: 4.5rem;
}

.activity_overview p {
    width: 100%;
    text-align: center;
}

.activity_overview.completed {
    /* border: 2px solid var(--orange); */
    background: var(--darkGrey);
}

.activity_overview.completed p {
    color: white;
}

.completed_score {
    min-height: 5.5rem;
    max-width: 5.5rem;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    flex-direction: column;
    font-size: 0.8rem;
}

.completed_score span {
    font-size: 2rem;
    font-weight: 700;
}

/* footer  */
footer {
    margin-bottom: 10rem;
}