* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* base colors  */
    --blue: rgb(0, 133, 204);
    --orange: rgb(255, 110, 0);
    --lightGrey: #f5f5f5;
    --darkGrey: #333333;


    /* dark mode  */
    --darkmode: #121212;

    /* fonts  */
    --fontRoboto: 'Roboto', sans-serif;
    /* weights: 100, 300, 500, 700 */

    /* border radius  */
    --default_radius: 1rem;

    /* goal percentages  */
    --daily_percent: 90%;
    --weekly_percent: 30%;
}

html {
    font-family: var(--fontRoboto);
    overflow-y: scroll;
    overflow-x: hidden;
}




/* header */
header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 1rem 0;
}

header img {
    width: 10rem;
}

header h2 {
    color: var(--blue);
    font-weight: 700;
}

/* bottom navigation  */
.navBottom {
    background: var(--lightGrey);
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.navBottom ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBottom li {
    list-style: none;
}

.navBottom a {
    text-decoration: none;
    width: 25%;
    padding: 2rem 0;
    text-align: center;
    /* border-right: 1px solid black; */
    font-weight: 300;
    color: var(--darkGrey);
}





/* Data overview  */
.dataOverview {
    width: 80vw;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    scroll-snap-type: x mandatory;
    margin: 2rem auto;
    -webkit-overflow-scrolling: touch;
}

.dataOverview::-webkit-scrollbar {
    width: 5px;
}

.dataOverview::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-top: 8px solid white;
}

.dataOverview::-webkit-scrollbar-track {
    background: white;
}

.overview {
    background-color: var(--lightGrey);
    min-width: 80vw;
    min-height: 18rem;
    display: inline-block;
    padding: 2rem;
    scroll-snap-align: center;
    border-radius: var(--default_radius);
}

.dailyOverview {
    margin-right: 2rem;
}

.dailyWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}


/* DAILY GOAL CHART */
.dailygoal,
.weeklygoal {
    width: 10rem;
    height: 10rem;

    /* variables c0 pos and c1 are made in javascript  */
    background: conic-gradient(var(--c0) var(--pos, 0%), var(--c1) 0);
    border-radius: 50%;
    position: relative;

    animation: 0s 1;
    animation-duration: 2s, 1s;
    animation-timing-function: steps(1), ease-in-out;
    animation-fill-mode: forwards;
}

.dailygoal {
    animation-name: c0, posDaily;
}

.weeklygoal {
    animation-name: c0, posWeekly;
}

@keyframes posDaily {
    to {
        --pos: var(--daily_percent);
    }
}

@keyframes posWeekly {
    to {
        --pos: var(--weekly_percent);
    }
}

@keyframes c0 {
    50% {
        --c0: #ff6f00;
    }
}



.dailygoal::before,
.weeklygoal::before {
    content: '';
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    background: var(--lightGrey);
    border-radius: 50%;
}

.dailyValue,
.weeklyValue {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    font-weight: 300;
}

/* END PIE CHART  */


.activityOverview {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activity {
    padding: 0.3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activity dt {
    font-weight: 300;
}

.activity dd {
    font-weight: 700;
}

.dailyScore p {
    font-size: 3rem;
    color: var(--orange);
}





/* ACTIVITEITEN OVERVIEW PAGE  */

.activities {
    width: 80vw;
    margin: 4rem auto 2rem auto;
}

.activities h2 {
    color: var(--blue);
    font-weight: 700;
}

.activities_wrapper {
    width: 80vw;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.activities_wrapper::-webkit-scrollbar {
    width: 5px;
}

.activities_wrapper::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-top: 8px solid white;
}

.activities_wrapper::-webkit-scrollbar-track {
    background: white;
}

.activity_overview {
    min-width: 12rem;
    height: 12rem;
    background: var(--lightGrey);
    padding: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: var(--default_radius);
    text-decoration: none;
    color: var(--darkGrey);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    font-weight: 500;
}

.activity_overview img {
    height: 4.5rem;
}

.activity_overview p {
    width: 100%;
    text-align: center;
}

.activity_overview.completed {
    /* border: 2px solid var(--orange); */
    background: var(--darkGrey);
}

.activity_overview.completed p {
    color: white;
}

.completed_score {
    min-height: 5.5rem;
    max-width: 5.5rem;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    flex-direction: column;
    font-size: 0.8rem;
}

.completed_score span {
    font-size: 2rem;
    font-weight: 700;
}

/* footer  */
footer {
    margin-bottom: 10rem;
}


.personal_overview {
    background: var(--lightGrey);
    width: 100vw;
    padding: 4rem 1rem;
    margin-top: 1rem;
}

.personal_overview h2 {
    text-align: center;
    color: var(--darkGrey);
}

.overview_wrapper {
    background: var(--lightGrey);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    /* padding: 4rem 1rem; */
}

.overview_wrapper a {
    padding: 1rem 2rem;
    background-color: var(--orange);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: .3rem;
    margin: 1rem;
    text-decoration: none;
}

.tst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overviewBtn {
    padding: 1rem 2rem;
    background-color: var(--orange);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: .3rem;
    text-decoration: none;
}


/* LOG ACTIVITY  */
.log_activity {
    width: 100vw;
    height: 100vh;
    background-color: var(--blue);

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.log_activity h2 {
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    color: white;
}

.sort_activity {
    /* background: white; */
    width: 40vw;
    height: 10rem;
    border-radius: var(--default_radius);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.sort_activity img {
    height: 75%;
}

.timer {
    background: white;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.timer p {
    font-size: 2.5rem;
    color: var(--orange);
}

.log_activity button {
    padding: 1rem 4rem;
    color: var(--orange);
    background: white;
    border: none;
    border-radius: .3rem;
}

.minutes,
.hours {
    display: none;
    opacity: 0;
    transition: opacity .5s ease;
}

.Btn_start_activity,
.Btn_resume_activity,
.Btn_end_activity,
.Btn_reset_activity,
.Btn_save_activity {
    display: none;
    opacity: 0;
    transition: opacity .5s ease;
    margin: 1rem;
}

.log_activity .Btn_end_activity {
    color: white;
    background-color: var(--orange);
}

.activity_form .Btn_save_activity {
    padding: 1rem 10rem;
    font-size: 1.5rem;
    background-color: var(--orange);
    color: white;
    /* border: 2px solid var(--orange); */
}

.show {
    display: initial;
    opacity: 1;
}

.hours::after,
.minutes::after,
.seconds::after {
    content: " :";
}


/* DETAIL PAGE ACTIVITY  */
.activity_done {
    /* background-color: var(--blue); */
    position: relative;
}

.activity_done h2 {
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
    color: white;
    background-color: var(--blue);
    /* width: 100vw; */

}

.activity_done img {
    display: block;
    margin-bottom: 2rem;
    /* position: absolute; */
}

.activity_done article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    background-color: var(--blue);
}

.icon_activity_done {
    height: 3rem;
    padding: 0 1rem .5rem 1rem;
}


.feedback_activity {
    background-color: white;
    color: var(--darkGrey);
    width: 100vw;
}

.feedback_activity dl {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feedback_activity dt {
    padding: .3rem;
}

.feedback_activity dd {
    padding: .3rem;
    color: var(--orange);
}

.feedback_activity article {
    /* padding: 1rem 0; */
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}



.feedback_activity h3 {
    font-size: 2rem;
    text-align: center;
    color: var(--blue);
}

.feedback_activity_date {
    margin-top: 5rem;
}

.feedback_activity p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    padding-top: 2rem;
}

/* to do  */