<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/header_logo.ejs'); %>
    <h2 class="info_menu">Informatie</h2>
</header>

<main>
    <section class="info">
        <article class="howItWorks">
            <h2>Hoe werkt het?</h2>
            <p>
                U bent opgenomen voor een kortdurende revalidatie. Het doel van de revalidatie is u zo goed mogelijk
                voor te bereiden op terugkeer naar uw thuissituatie. Bij de revalidatie wordt gebruik gemaakt van het
                Hipper systeem dat bestaat uit een activiteitenmonitor PAM, een hipperbox en begeleiding door de
                therapeut.
            </p>
            <p>Hieronder lees je in een aantal stappen hoe het process in zijn werking gaat.</p>
        </article>
    </section>
    <section class="info steps">
        <article class="stappen step1">
            <div>
                <h3>1</h3>
                <p>
                    PAM is een apparaatje dat u bevestigd aan uw broekriem of rok. De tekst in het venster geeft de PAM
                    score, dit zijn geen stappen maar geeft aan hoeveel u beweegt per dag.
                </p>
            </div>

            <img src="images/pam.svg" alt="illustration of the pam device">
        </article>

        <article class="stappen step2">
            <h3>2</h3>
            <p>
                U plaatst de hipperbox op uw kamer en steekt de stekker in het stopcontact. U hoeft de PAM niet op te
                laden of aan of uit te zetten. Zodra de PAM in de buurt van de hipperbox komt worden de gegevens van het
                bewegen zelf op de hipperbox gezet. U heeft hiervoor niets te doen.
            </p>
            <img src="images/rasberrypi.svg" alt="image of the hipperbox">
        </article>

        <article class="stappen step3">
            <h3>3</h3>
            <p>
                U gebruikt de PAM dagelijks. Na het opstaan doet u hem aan en bij het slapen gaan kunt u hem weer af
                doen.
            </p>
            <img src="images/step3.png" alt="nightstand with pam on it. ">
        </article>
        <article class="stappen step4">
            <h3>4</h3>
            <p>
                De PAM score geeft inzicht in het bewegen en hoe goed u vooruit gaat. Deze informatie helpt bij het
                maken van de haalbare doelen voor een voorspoedig herstel.
            </p>
            <img src="images/step4.svg" alt="tablet with bar chart simulating pam data">
        </article>

        <article class="stappen step5">
            <h3>5</h3>
            <p>
                Met de therapeut maakt u doelen voor de komende periode. U bespreekt welke activiteiten hierbij passen
                en zelf kunt gaan doen. De volgende week bespreekt u hoe dit is gegaan waarbij de PAM score inzicht
                geeft over het bewegen.
            </p>
            <img src="images/step5.svg" alt="revalidant in contact met therapeut over pam data">
        </article>

        <article class="stappen step6">
            <h3>6</h3>
            <p>
                Na ontslag gaat de revalidatie thuis nog een korte periode door. U draagt de PAM thuis totdat de
                revalidatie is afgelopen.
            </p>
            <img src="images/step6.svg" alt="Revalidant hangt de was op terwijl hij zijn PAM draagt">
        </article>
    </section>
    <section class="info_extra">
        <!-- Vertrouwelijkheid  -->
        <article class="confidentiality">
            <h3>Vertrouwelijkheid van de PAM score</h3>
            <p>
                De PAM gegevens orden automatisch via de hipperbox naar een beveiligde server gestuurd. Deze zijn allen
                in te zien door u en de therapeut. Na afloop van de revalidatie worden deze gegevens weer verwijderd.
            </p>
        </article>

        <!-- registren en inloggegevens  -->
        <article class="info_register">
            <h3>Registreren en inloggegevens</h3>
            <p>
                De therapeut heeft inloggegevens gekregen om op een tablet samen met u naar de PAM score te kijken.
                Wanner u zelf een tablet heeft kunt u van de therapeut gegevens krijgen hoe u kunt inloggen.
            </p>
            <p>
                U krijgt de hipperbox en PAM in bruikleen gedurende de revalidatie. U heeft geen kosten. Na de
                revalidatie levert u de hipperbox en PAM weer in bij de therapeut.
            </p>

        </article>
    </section>
</main>

<footer>
    <%- include('includes/nav_bottom.ejs'); %>
</footer>

<%- include('includes/footer.ejs'); %>