<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/header_logo.ejs'); %>
    <h2 class="info_menu">Informatie</h2>
</header>

<main>
    <h2>hier komt de informatie pagina.</h2>
    <h3>to be updated</h3>

</main>

<footer>
    <%- include('includes/nav_bottom.ejs'); %>
</footer>

<%- include('includes/footer.ejs'); %>