<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/header_logo.ejs'); %>
</header>

<main>

    <section class="offline">
        <p>U bent offline</p>
        <p>Mogelijk kunt u nog wel de home pagina bezoeken </p>

        <a href="/"> Ga naar de home pagina</a>

    </section>
</main>

<%- include('includes/footer.ejs'); %>