<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/header_logo.ejs'); %>
    <h2 class="profile_menu">Profiel</h2>

    <% if (user) { %>
    <a href="/logout"> logout</a>
    <% } else { %>
    <a href="/login"> login</a>
    <% } %>

</header>

<main>
    <section class="personal_overview">
        <h2>Je persoonlijke overzicht</h2>
        <article class="overview_wrapper">
            <a href="/">Overzicht activiteiten</a>
            <a href="/">Doelen overzicht</a>
        </article>

    </section>

</main>

<footer>
    <%- include('includes/nav_bottom.ejs'); %>
</footer>

<%- include('includes/footer.ejs'); %>